html {
	font-family: sans-serif;
}

body {
	padding: 4px;
}

#results {
	border: 1px solid #eee;
	border-radius: 2px;
	height: 50vh;
	margin-top: 16px;
	overflow-y: scroll;
	padding: 8px;
}

#results img {
	height: 64px;
	object-fit: contain:
	width: 64px;
}

#results .result {
	background-color: #fcfcfc;
	border: 1px solid #eee;
	border-radius: 2px;
	margin-top: 8px;
	padding: 8px;
}

#results .result:nth-child(odd) {
	background-color: #f2f2f2;
}

#results .result:hover {
	border-color: #ccc;
	background-color: #eee;
}
